.displayNone {
    display: none;
}

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

.width60 {
    width: 60% !important;
}

.alertCenter {
    padding-left: 157px;
    margin-left: 91px;
}

.inputWidth {
    width: 30px !important;
}

.padBot30 {
    padding-bottom: 30px;
}

.innerTable {
    width: 60% !important;
    margin-left: 50px !important;
}

.gi-2x {
    font-size: 2em;
    font-weight: bolder;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}

.wrapper {
    margin: 20px;
}

.pad10 {
    padding: 10px;
}
.twitter-typeahead
{
    margin-left:-10px !important;
    width: 100%;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 335px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}