.displayNone {
    display: none;
}

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

.width60 {
    width: 60% !important;
}

.alertCenter {
    padding-left: 157px;
    margin-left: 91px;
}

.inputWidth {
    width: 30px !important;
}

.padBot30 {
    padding-bottom: 30px;
}